services:
  - type: web
    name: yourfavebudgetingapp-api
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: node src/server.js
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: FRONTEND_URL
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: STRIPE_PRICE_ID
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: STRIPE_CONNECT_RETURN_URL
        sync: false
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_APP_PASSWORD
        sync: false
      - key: SUPPORT_NOTIFY_EMAIL
        sync: false
